body {
    background-image: url("http://fc02.deviantart.net/fs70/i/2013/210/c/0/star_field_background_by_orionshipworks-d6fofn8.jpg");
}
p {
	color:#FFFFFF;
	font-size:80px;
}
h1 {
	color:#FFFFFF;
}
h2 {
	color:#FFFFFF;
}
button{
	font-size:30px;
	font-color:#FFFFFF;
}
